{
	auto_https off
}

(app-cert) {
	tls ./.certs/app.tud-box.test+6.pem \
 ./.certs/app.tud-box.test+6-key.pem
}

app.tud-box.test {
	import app-cert
	reverse_proxy localhost:3001 # Vite
}

api.tud-box.test {
	import app-cert
	reverse_proxy localhost:3000 # Bun/Hono backend
}

mail.tud-box.test {
	import app-cert
	reverse_proxy localhost:8025 # Mailhog Docker
}

storage.tud-box.test {
	import app-cert
	reverse_proxy localhost:9001 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto https
	}
}

s3.tud-box.test {
	import app-cert
	reverse_proxy localhost:9000 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto https
	}
}

drizzle-studio.tud-box.test {
	import app-cert
	reverse_proxy localhost:4983
}

react-email.tud-box.test {
	import app-cert
	reverse_proxy localhost:3030
}
