DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
CORS_ORIGIN=

APP_NAME=
BASE_URL=
COMPANY_NAME=
COMPANY_ADDRESS=
COMPANY_HOMEPAGE=
PRIVACY_POLICY_LINK=

# dev
NODE_ENV=development
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=

# prod only
NODE_ENV=production
RESEND_API_KEY=your_resend_api_key
FROM_EMAIL=your_verified_email@domain.com