name: better-t-ins

services:
  mysql:
    image: mysql
    container_name: better-t-ins-mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: better-t-ins
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - better-t-ins_mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    # networks:
    #   - better-t-ins-network

  # drizzle-gateway:
  #   image: ghcr.io/drizzle-team/gateway:latest
  #   container_name: better-t-ins-drizzle-gateway
  #   environment:
  #     PORT: 4983
  #     STORE_PATH: /app
  #   volumes:
  #     - better-t-ins_drizzle_gateway_data:/app
  #   ports:
  #     - "4983:4983"
  #   restart: unless-stopped
  #   networks:
  #     - better-t-ins-network

volumes:
  better-t-ins_mysql_data:
  # better-t-ins_drizzle_gateway_data:

# networks:
#   better-t-ins-network:
#     name: better-t-ins-network
#     driver: bridge