name: tud-box

services:
  mysql:
    image: mysql
    container_name: tud-box-mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: tud-box
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - tud-box_mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    # networks:
    #   - tud-box-network

  # drizzle-gateway:
  #   image: ghcr.io/drizzle-team/gateway:latest
  #   container_name: tud-box-drizzle-gateway
  #   environment:
  #     PORT: 4983
  #     STORE_PATH: /app
  #   volumes:
  #     - tud-box_drizzle_gateway_data:/app
  #   ports:
  #     - "4983:4983"
  #   restart: unless-stopped
  #   networks:
  #     - tud-box-network

volumes:
  tud-box_mysql_data:
  # tud-box_drizzle_gateway_data:

# networks:
#   tud-box-network:
#     name: tud-box-network
#     driver: bridge